<header>
  <mat-toolbar class="mat-primary">
    <span id="logo"><img src="./img/logo-white-40.png" alt="Fusisoft" /></span>
    <a mat-button routerLink="/home">TaxoStore Shell</a>

    <!-- demo menu -->
    <!-- <button type="button" mat-button [matMenuTriggerFor]="demoMenu">
      Demo
    </button>
    <mat-menu #demoMenu>
      <button type="button" mat-menu-item routerLink="/demo/graph">
        Graph
      </button>
      <button type="button" mat-menu-item routerLink="/demo/layers">
        Text Layers
      </button>
      <button type="button" mat-menu-item routerLink="/demo/picker">
        Picker
      </button>
    </mat-menu> -->

    <!-- demo menu -->
    @if (user()) {
      <button type="button" mat-button [matMenuTriggerFor]="demoMenu">Demo</button>
      <mat-menu #demoMenu>
        <button type="button" mat-menu-item routerLink="/taxo-store-editor">
          Taxo Store editor
        </button>
        <button type="button" mat-menu-item routerLink="/taxo-store-picker">
          Taxo Store picker
        </button>
      </mat-menu>
    }

    <span class="tb-fill-remaining-space"></span>

    <!-- user -->
    @if (user()) {
      <div>
        <!-- indicators -->
        <img alt="avatar" [src]="user()!.email | gravatar: 32" [alt]="user()!.userName" />
        @if (user() && user()!.roles.includes('admin')) {
          <mat-icon class="small-icon" title="admin">build</mat-icon>
        }
        @if (user() && !user()!.emailConfirmed) {
          <mat-icon
            class="small-icon"
            title="You must verify your email address! Please check your mailbox {{
              user()!.email
            }}"
            >feedback</mat-icon
          >
        }
        <!-- user menu -->
        <button type="button" mat-button [matMenuTriggerFor]="userMenu">User</button>
        <mat-menu #userMenu>
          <a mat-menu-item routerLink="/reset-password">Reset password</a>
        </mat-menu>
        <!-- admin menu -->
        @if (user() && user()!.roles.includes('admin')) {
          <button type="button" mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
        }
        <mat-menu #adminMenu>
          <a mat-menu-item routerLink="/manage-users">Manage users</a>
          <a mat-menu-item routerLink="/register-user">Register user</a>
          <a mat-menu-item routerLink="/flags"> Flags </a>
          <a mat-menu-item routerLink="/thesauri"> Thesauri </a>
        </mat-menu>
      </div>
    }

    <!-- login -->
    @if (!logged()) {
      <button
        type="button"
        mat-icon-button
        [routerLink]="['/login']"
        [queryParams]="{ returnUrl: 'items' }"
      >
        <mat-icon>login</mat-icon>
      </button>
    }
    <!-- logout -->
    @if (logged()) {
      <button type="button" mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    }
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div layout="row" layout-align="center center">
    <p>
      Tree Store Shell by
      <a rel="noopener" href="https://myrmex.github.io/overview/" target="_blank">Daniele Fusi</a>
      - version {{ version() }}
    </p>
  </div>
</footer>
